{{/* Twttier Bootstrap has contains Normalize.css(included in main.css) */}}
<!-- {{ partial "resources/styles/bootstrap.html" . }} -->
{{ partial "resources/styles/devicons.html" . }}
{{ partial "resources/styles/simplelineicons.html" . }}


<link href='{{ "css/font.css" | absURL }}' rel='stylesheet' type="text/css" />
<link href='{{ "css/custom.css" | absURL }}' rel='stylesheet' type="text/css" />


{{ partial "resources/scripts/fixie.html" . }}

{{ partial "resources/scripts/typekit.html" . }}
{{ partial "resources/scripts/mathjax.html" . }}
{{ partial "resources/scripts/pangu.html" . }}
{{/* partial "resources/scripts/fontawesome.html" . */}}

